automation/Make.json
{
  "name": "Integration Webhooks",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": 2733218,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": -153,
          "y": -63
        },
        "restore": {
          "parameters": {
            "hook": {
              "data": {
                "editable": "true"
              },
              "label": "My gateway-webhook webhook"
            }
          }
        },
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway-webhook",
            "label": "Webhook",
            "required": true
          },
          {
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of results"
          }
        ],
        "interface": [
          {
            "help": "Main container containing a list of objects.",
            "name": "leads",
            "spec": {
              "spec": [
                {
                  "help": "",
                  "name": "db_id",
                  "type": "text",
                  "label": null,
                  "default": null,
                  "required": false,
                  "multiline": false
                },
                {
                  "help": "",
                  "name": "domain",
                  "type": "text",
                  "label": null,
                  "default": null,
                  "required": true,
                  "multiline": false
                },
                {
                  "help": "",
                  "name": "name",
                  "type": "text",
                  "label": null,
                  "default": null,
                  "required": false,
                  "multiline": false
                },
                {
                  "help": "",
                  "name": "website",
                  "type": "text",
                  "label": null,
                  "default": null,
                  "required": false,
                  "multiline": false
                },
                {
                  "help": "",
                  "name": "Phone",
                  "type": "text",
                  "label": null,
                  "default": null,
                  "required": false,
                  "multiline": false
                }
              ],
              "type": "collection",
              "required": false
            },
            "type": "array",
            "label": null,
            "required": false
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "gateway:WebhookRespond",
      "version": 1,
      "parameters": {},
      "mapper": {
        "body": "{\n    \"status\": \"accepted\",\n    \"request_id\": \"{{item.id}}\", \n    \"received_items\": {{length(1.Array)}},\n    \"timestamp\": \"{{now}}\"\n}",
        "status": "200",
        "headers": []
      },
      "metadata": {
        "designer": {
          "x": 90,
          "y": -56
        },
        "restore": {
          "expect": {
            "headers": {
              "mode": "chose"
            }
          }
        },
        "expect": [
          {
            "name": "status",
            "type": "uinteger",
            "label": "Status",
            "required": true,
            "validate": {
              "min": 100
            }
          },
          {
            "name": "body",
            "type": "any",
            "label": "Body"
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key",
                "required": true,
                "validate": {
                  "max": 256
                }
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value",
                "required": true,
                "validate": {
                  "max": 4096
                }
              }
            ],
            "type": "array",
            "label": "Custom headers",
            "validate": {
              "maxItems": 16
            }
          }
        ]
      }
    },
    {
      "id": 3,
      "module": "builtin:BasicFeeder",
      "version": 1,
      "parameters": {},
      "mapper": {
        "array": "{{1.leads}}"
      },
      "metadata": {
        "designer": {
          "x": 334,
          "y": -59
        },
        "restore": {
          "expect": {
            "array": {
              "mode": "edit"
            }
          }
        },
        "expect": [
          {
            "mode": "edit",
            "name": "array",
            "spec": [],
            "type": "array",
            "label": "Array"
          }
        ]
      }
    },
    {
      "id": 5,
      "module": "airtable:ActionSearchRecords",
      "version": 3,
      "parameters": {
        "__IMTCONN__": null
      },
      "mapper": {
        "base": "YOUR_BASE_ID",
        "table": "YOUR_TABLE_ID",
        "fields": ["Domain"],
        "formula": "LOWER({Domain}) = LOWER('{{3.domain}}')",
        "maxRecords": "1",
        "useColumnId": false
      },
      "metadata": {
        "designer": {
          "x": 580,
          "y": -67
        },
        "restore": {
          "expect": {
            "base": {
              "mode": "chose",
              "label": "Lead_Base"
            },
            "sort": {
              "mode": "chose"
            },
            "view": {
              "mode": "chose",
              "label": "Empty"
            },
            "table": {
              "mode": "chose",
              "label": "All_Lead"
            },
            "fields": {
              "mode": "chose",
              "label": ["Domain"]
            },
            "useColumnId": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "airtable3"
              },
              "label": "Airtable_Production_Connection"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:airtable3,airtable2",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "base",
            "type": "select",
            "label": "Base",
            "required": true
          },
          {
            "name": "useColumnId",
            "type": "boolean",
            "label": "Use Column ID",
            "required": true
          },
          {
            "name": "table",
            "type": "select",
            "label": "Table",
            "required": true
          },
          {
            "name": "formula",
            "type": "text",
            "label": "Formula"
          },
          {
            "name": "maxRecords",
            "type": "integer",
            "label": "Limit"
          },
          {
            "name": "sort",
            "spec": [
              {
                "name": "field",
                "type": "select",
                "label": "Field",
                "dynamic": true,
                "options": []
              },
              {
                "name": "direction",
                "type": "select",
                "label": "Direction",
                "options": [
                  {
                    "label": "Descending",
                    "value": "desc"
                  },
                  {
                    "label": "Ascending",
                    "value": "asc"
                  }
                ]
              }
            ],
            "type": "array",
            "label": "Sort"
          },
          {
            "name": "view",
            "type": "select",
            "label": "View"
          },
          {
            "name": "fields",
            "type": "select",
            "label": "Output Fields",
            "multiple": true
          }
        ],
        "interface": [
          {
            "name": "__IMTLENGTH__",
            "type": "uinteger",
            "label": "Total number of bundles"
          },
          {
            "name": "__IMTINDEX__",
            "type": "uinteger",
            "label": "Bundle order position"
          },
          {
            "name": "id",
            "type": "text",
            "label": "ID"
          },
          {
            "name": "createdTime",
            "type": "date",
            "label": "Created Time"
          },
          {
            "name": "Domain",
            "type": "text",
            "label": "Domain"
          }
        ]
      },
      "onerror": [
        {
          "id": 12,
          "module": "builtin:Break",
          "version": 1,
          "metadata": {
            "designer": {
              "x": 572,
              "y": -312
            }
          }
        }
      ]
    },
    {
      "id": 24,
      "module": "hunter:makeAnAPICall",
      "version": 1,
      "parameters": {
        "__IMTCONN__": null
      },
      "filter": {
        "name": "New Lead Only",
        "conditions": [
          [
            {
              "a": "{{5.`__IMTLENGTH__`}}",
              "o": "number:equal",
              "b": "0"
            }
          ]
        ]
      },
      "mapper": {
        "url": "/v2/domain-search",
        "method": "GET",
        "headers": [
          {
            "key": "Content-Type",
            "value": "application/json"
          }
        ],
        "qs": [
          {
            "key": "domain",
            "value": "{{3.domain}}"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 831,
          "y": -71
        },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "label": "Hunter_API",
              "data": {
                "scoped": "true",
                "connection": "hunter"
              }
            }
          },
          "expect": {
            "url": {
              "collapsed": true
            },
            "method": {
              "mode": "chose",
              "collapsed": true,
              "label": "GET"
            },
            "headers": {
              "mode": "chose",
              "collapsed": true,
              "items": [null]
            },
            "qs": {
              "mode": "chose",
              "items": [null]
            },
            "body": {
              "collapsed": true
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:hunter",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "url",
            "type": "text",
            "label": "URL",
            "required": true
          },
          {
            "name": "method",
            "type": "select",
            "label": "Method",
            "required": true,
            "validate": {
              "enum": ["GET", "POST", "PUT", "PATCH", "DELETE"]
            }
          },
          {
            "name": "headers",
            "type": "array",
            "label": "Headers",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key"
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ]
          },
          {
            "name": "qs",
            "type": "array",
            "label": "Query String",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key"
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ]
          },
          {
            "name": "body",
            "type": "any",
            "label": "Body"
          }
        ]
      },
      "onerror": [
        {
          "id": 25,
          "module": "builtin:Break",
          "version": 1,
          "parameters": {},
          "mapper": {
            "retry": true,
            "count": "3",
            "interval": "15"
          },
          "metadata": {
            "designer": {
              "x": 828,
              "y": -304
            },
            "restore": {
              "expect": {
                "retry": {
                  "mode": "chose"
                }
              }
            },
            "expect": [
              {
                "name": "retry",
                "type": "boolean",
                "label": "Automatically complete execution",
                "required": true
              },
              {
                "name": "count",
                "type": "uinteger",
                "label": "Number of attempts",
                "validate": {
                  "min": 1,
                  "max": 10000
                },
                "required": true
              },
              {
                "name": "interval",
                "type": "uinteger",
                "label": "Interval between attempts",
                "validate": {
                  "min": 1,
                  "max": 44640
                },
                "required": true
              }
            ]
          }
        }
      ]
    },
    {
      "id": 9,
      "module": "util:SetVariable2",
      "version": 1,
      "parameters": {},
      "mapper": {
        "name": "final_email",
        "scope": "roundtrip",
        "value": "{{get(map(24.body.data.emails; \"value\"); 1)}}"
      },
      "metadata": {
        "designer": {
          "x": 1073,
          "y": -76
        },
        "restore": {
          "expect": {
            "scope": {
              "label": "One cycle"
            }
          }
        },
        "expect": [
          {
            "name": "name",
            "type": "text",
            "label": "Variable name",
            "required": true
          },
          {
            "name": "scope",
            "type": "select",
            "label": "Variable lifetime",
            "required": true,
            "validate": {
              "enum": ["roundtrip", "execution"]
            }
          },
          {
            "name": "value",
            "type": "any",
            "label": "Variable value"
          }
        ],
        "interface": [
          {
            "name": "final_email",
            "label": "final_email",
            "type": "any"
          }
        ],
        "advanced": true
      }
    },
    {
      "id": 14,
      "module": "openai-gpt-3:CreateCompletion",
      "version": 1,
      "parameters": {
        "__IMTCONN__": null
      },
      "filter": {
        "name": "Has Email",
        "conditions": [
          [
            {
              "a": "{{9.final_email}}",
              "o": "exist"
            }
          ]
        ]
      },
      "mapper": {
        "select": "chat",
        "temperature": "0.5",
        "top_p": "1",
        "n_completions": "1",
        "frequency_penalty": "0.2",
        "presence_penalty": "0.2",
        "model": "gpt-4o-mini",
        "max_tokens": "60",
        "messages": [
          {
            "role": "system",
            "content": "SYSTEM_ROLE:\r\nYou are a professional B2B Sales Assistant. Your task is to write a neutral, one-sentence opening line for a cold email.\r\n\r\nCONTEXT:\r\nYou only have the Company Name: {{3.name}} and Domain: {{3.website}}. You CANNOT see the website content.\r\n\r\nGOAL:\r\nDraft a professional observation in English that acknowledges the company's existence without inventing fake facts or \"hallucinating\" news.\r\n\r\nCONSTRAINTS:\r\n1. Language: English ONLY (strictly prohibited to use any other language).\r\n2. Length: Maximum 12 words.\r\n3. No Hallucinations: Do not mention specific projects, news, awards, or services you haven't seen.\r\n4. Tone: Direct, professional, understated. No \"fluff\" or fake excitement.\r\n5. Forbidden Words: innovative, solution, unique, specialized, leader, optimization, help, offer, professional.\r\n6. Punctuation: No quotation marks in the output.\r\n\r\nOUTPUT_FORMAT:\r\nA single sentence in plain text.\r\n\r\nEXAMPLES:\r\nInput: Alpha Corp, alpha-corp.com\r\nOutput: I have been following the work Alpha Corp is doing recently.\r\nInput: Delta Tech, deltatech.io\r\nOutput: Your team's focus at deltatech.io caught my attention today."
          },
          {
            "role": "user",
            "content": "Company: {{3.name}}, Website: {{3.website}}. Write a personalized opening line in English.",
            "imageDetail": "auto"
          }
        ],
        "response_format": "text"
      },
      "metadata": {
        "designer": {
          "x": 1314,
          "y": -79
        },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "label": "Lead_Gen",
              "data": {
                "scoped": "true",
                "connection": "openai-gpt-3"
              }
            }
          },
          "expect": {
            "select": {
              "collapsed": true,
              "label": "Create a Chat Completion (GPT and o1 models)"
            },
            "temperature": {
              "collapsed": true
            },
            "top_p": {
              "collapsed": true
            },
            "n_completions": {
              "collapsed": true
            },
            "frequency_penalty": {
              "collapsed": true
            },
            "presence_penalty": {
              "collapsed": true
            },
            "logit_bias": {
              "mode": "chose",
              "collapsed": true
            },
            "seed": {
              "collapsed": true
            },
            "tool_choice": {
              "mode": "chose",
              "collapsed": true,
              "label": "Empty"
            },
            "stop": {
              "mode": "chose",
              "collapsed": true
            },
            "additionalParameters": {
              "mode": "chose",
              "collapsed": true
            },
            "model": {
              "mode": "chose",
              "collapsed": true,
              "label": "gpt-4o-mini (system)Fast, affordable small model for focused tasks"
            },
            "max_tokens": {
              "collapsed": true
            },
            "messages": {
              "mode": "chose",
              "items": [
                {
                  "role": {
                    "mode": "chose",
                    "label": "Developer / System"
                  },
                  "content": {
                    "collapsed": true
                  }
                },
                {
                  "role": {
                    "mode": "chose",
                    "label": "User"
                  },
                  "imageInputType": {
                    "mode": "chose",
                    "label": "Empty"
                  },
                  "imageDetail": {
                    "mode": "chose",
                    "label": "Auto"
                  }
                }
              ]
            },
            "response_format": {
              "mode": "chose",
              "collapsed": true,
              "label": "Text"
            },
            "prediction": {
              "collapsed": true
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:openai-gpt-3",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "select",
            "type": "select",
            "label": "Select Method",
            "required": true,
            "validate": {
              "enum": ["chat", "prompt"]
            }
          },
          {
            "name": "temperature",
            "type": "number",
            "label": "Temperature",
            "validate": {
              "max": 2,
              "min": 0
            }
          },
          {
            "name": "top_p",
            "type": "number",
            "label": "Top P",
            "validate": {
              "max": 1,
              "min": 0
            }
          },
          {
            "name": "n_completions",
            "type": "number",
            "label": "Number"
          },
          {
            "name": "frequency_penalty",
            "type": "number",
            "label": "Frequency Penalty",
            "validate": {
              "max": 2,
              "min": -2
            }
          },
          {
            "name": "presence_penalty",
            "type": "number",
            "label": "Presence Penalty",
            "validate": {
              "max": 2,
              "min": -2
            }
          },
          {
            "name": "logit_bias",
            "type": "array",
            "label": "Token Probability",
            "spec": {
              "spec": [
                {
                  "name": "token",
                  "type": "text",
                  "label": "Token ID",
                  "required": true
                },
                {
                  "name": "probability",
                  "type": "number",
                  "label": "Probability",
                  "required": true,
                  "validate": {
                    "max": 100,
                    "min": -100
                  }
                }
              ],
              "type": "collection",
              "label": "Token Probability",
              "name": "value"
            }
          },
          {
            "name": "seed",
            "type": "integer",
            "label": "Seed"
          },
          {
            "name": "tool_choice",
            "type": "select",
            "label": "Tool Choice",
            "validate": {
              "enum": ["none", "auto", "required"]
            }
          },
          {
            "name": "stop",
            "type": "array",
            "label": "Stop Sequences",
            "validate": {
              "maxItems": 4
            },
            "spec": {
              "type": "text",
              "label": "Stop Sequence",
              "name": "value"
            }
          },
          {
            "name": "additionalParameters",
            "type": "array",
            "label": "Other Input Parameters",
            "spec": {
              "spec": [
                {
                  "name": "key",
                  "type": "text",
                  "label": "Parameter Name",
                  "required": true
                },
                {
                  "name": "type",
                  "type": "select",
                  "label": "Input Type",
                  "options": [
                    {
                      "label": "Text",
                      "value": "text",
                      "nested": [
                        {
                          "name": "value",
                          "type": "text",
                          "label": "Parameter Value"
                        }
                      ],
                      "default": true
                    },
                    {
                      "label": "Number",
                      "value": "number",
                      "nested": [
                        {
                          "name": "value",
                          "type": "number",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Boolean",
                      "value": "boolean",
                      "nested": [
                        {
                          "name": "value",
                          "type": "boolean",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Date",
                      "value": "date",
                      "nested": [
                        {
                          "name": "value",
                          "type": "date",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Any",
                      "value": "any",
                      "nested": [
                        {
                          "name": "value",
                          "type": "any",
                          "label": "Parameter Value"
                        }
                      ]
                    }
                  ]
                }
              ],
              "type": "collection",
              "label": "Input Parameter",
              "name": "value"
            }
          },
          {
            "name": "model",
            "type": "select",
            "label": "Model",
            "required": true
          },
          {
            "name": "max_tokens",
            "type": "uinteger",
            "label": "Max Output Tokens"
          },
          {
            "name": "messages",
            "type": "array",
            "label": "Messages",
            "required": true,
            "spec": {
              "label": "Message",
              "type": "collection",
              "spec": [
                {
                  "name": "role",
                  "type": "select",
                  "label": "Role",
                  "required": true,
                  "options": {
                    "store": [
                      {
                        "label": "User",
                        "value": "user",
                        "default": true,
                        "nested": [
                          {
                            "help": "Text content of the message on behalf of the selected __Role__.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content"
                          },
                          {
                            "name": "imageInputType",
                            "type": "select",
                            "label": "Image Input Type",
                            "mappable": false,
                            "options": [
                              {
                                "value": "url",
                                "label": "URL",
                                "nested": [
                                  {
                                    "name": "imageUrl",
                                    "label": "Image URL",
                                    "type": "url",
                                    "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab."
                                  }
                                ]
                              },
                              {
                                "value": "file",
                                "label": "Image File",
                                "nested": [
                                  {
                                    "name": "imageFile",
                                    "label": "Image",
                                    "type": "collection",
                                    "spec": [
                                      {
                                        "name": "imageFilename",
                                        "type": "filename",
                                        "label": "Image Filename",
                                        "semantic": "file:name",
                                        "extension": [
                                          "jpg",
                                          "jpeg",
                                          "png",
                                          "webp",
                                          "gif"
                                        ],
                                        "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`."
                                      },
                                      {
                                        "name": "imageData",
                                        "type": "buffer",
                                        "label": "Image Data",
                                        "semantic": "file:data"
                                      }
                                    ]
                                  }
                                ]
                              }
                            ]
                          },
                          {
                            "name": "imageDetail",
                            "type": "select",
                            "label": "Image Detail",
                            "help": "Recommended value: `Auto`",
                            "options": [
                              {
                                "value": "auto",
                                "default": true,
                                "label": "Auto"
                              },
                              {
                                "value": "high",
                                "label": "High"
                              },
                              {
                                "value": "low",
                                "label": "Low"
                              }
                            ]
                          }
                        ]
                      },
                      {
                        "label": "Assistant",
                        "value": "assistant",
                        "nested": [
                          {
                            "help": "Text content of the message on behalf of the selected __Role__.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content"
                          },
                          {
                            "name": "tool_calls",
                            "label": "Tool Calls",
                            "type": "array",
                            "labels": {
                              "add": "Add tool call"
                            },
                            "mode": "edit",
                            "mappable": {
                              "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                            },
                            "spec": {
                              "label": "Tool Call",
                              "type": "collection",
                              "spec": [
                                {
                                  "name": "type",
                                  "type": "hidden",
                                  "default": "function"
                                },
                                {
                                  "name": "id",
                                  "type": "text",
                                  "label": "Tool call ID",
                                  "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`."
                                },
                                {
                                  "name": "function",
                                  "type": "collection",
                                  "label": "Function",
                                  "spec": [
                                    {
                                      "name": "name",
                                      "label": "Name",
                                      "type": "text",
                                      "required": true,
                                      "help": "The name of the function previously called."
                                    },
                                    {
                                      "name": "arguments",
                                      "label": "Arguments",
                                      "type": "text",
                                      "required": true,
                                      "help": "The arguments previously output by the AI."
                                    }
                                  ]
                                }
                              ]
                            }
                          }
                        ]
                      },
                      {
                        "label": "Developer / System",
                        "nested": [
                          {
                            "help": "Text content of the message on behalf of the selected __Role__.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content"
                          }
                        ],
                        "value": "system"
                      },
                      {
                        "label": "Tool",
                        "value": "tool",
                        "nested": [
                          {
                            "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content",
                            "required": true
                          },
                          {
                            "label": "Tool Call ID.",
                            "name": "tool_call_id",
                            "type": "text",
                            "required": true,
                            "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`."
                          }
                        ]
                      }
                    ]
                  }
                }
              ],
              "name": "value"
            }
          },
          {
            "name": "response_format",
            "type": "select",
            "label": "Response Format",
            "validate": {
              "enum": ["text", "json_object"]
            }
          },
          {
            "name": "prediction",
            "type": "text",
            "label": "Predicted Outputs"
          }
        ],
        "interface": [
          {
            "name": "result",
            "type": "any",
            "label": "Result"
          },
          {
            "name": "id",
            "type": "text",
            "label": "ID"
          },
          {
            "name": "object",
            "type": "text",
            "label": "Object"
          },
          {
            "name": "created",
            "type": "date",
            "label": "Created"
          },
          {
            "name": "model",
            "type": "text",
            "label": "Model"
          },
          {
            "name": "choices",
            "spec": [
              {
                "name": "text",
                "type": "text",
                "label": "Text"
              },
              {
                "name": "index",
                "type": "number",
                "label": "Index"
              },
              {
                "name": "logprobs",
                "type": "text",
                "label": "Log Probs"
              },
              {
                "name": "finish_reason",
                "type": "text",
                "label": "Finish Reason"
              },
              {
                "name": "message",
                "spec": [
                  {
                    "name": "role",
                    "type": "text",
                    "label": "Role"
                  },
                  {
                    "name": "content",
                    "type": "text",
                    "label": "Content"
                  },
                  {
                    "name": "tool_calls",
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "function",
                        "spec": [
                          {
                            "name": "name",
                            "type": "text",
                            "label": "Name"
                          },
                          {
                            "name": "arguments",
                            "type": "text",
                            "label": "Arguments"
                          }
                        ],
                        "type": "collection",
                        "label": "Function"
                      }
                    ],
                    "type": "array",
                    "label": "Tool Calls"
                  },
                  {
                    "name": "refusal",
                    "type": "text",
                    "label": "Refusal"
                  },
                  {
                    "name": "annotations",
                    "spec": [
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "url_citation",
                        "spec": [
                          {
                            "name": "end_index",
                            "type": "number",
                            "label": "End Index"
                          },
                          {
                            "name": "start_index",
                            "type": "number",
                            "label": "Start Index"
                          },
                          {
                            "name": "title",
                            "type": "text",
                            "label": "Title"
                          },
                          {
                            "name": "url",
                            "type": "text",
                            "label": "URL"
                          }
                        ],
                        "type": "collection",
                        "label": "URL Citation"
                      }
                    ],
                    "type": "array",
                    "label": "Annotations"
                  }
                ],
                "type": "collection",
                "label": "Message"
              }
            ],
            "type": "array",
            "label": "Choices"
          },
          {
            "name": "usage",
            "spec": [
              {
                "name": "prompt_tokens",
                "type": "number",
                "label": "Prompt Tokens"
              },
              {
                "name": "completion_tokens",
                "type": "text",
                "label": "Completion Tokens"
              },
              {
                "name": "total_tokens",
                "type": "number",
                "label": "Total Tokens"
              },
              {
                "name": "prompt_tokens_details",
                "spec": [
                  {
                    "name": "cached_tokens",
                    "type": "uinteger",
                    "label": "Cached Tokens"
                  },
                  {
                    "name": "text_tokens",
                    "type": "uinteger",
                    "label": "Text Tokens"
                  },
                  {
                    "name": "image_tokens",
                    "type": "uinteger",
                    "label": "Image Tokens"
                  },
                  {
                    "name": "audio_tokens",
                    "type": "uinteger",
                    "label": "Audio Tokens"
                  }
                ],
                "type": "collection",
                "label": "Prompt Tokens Details"
              },
              {
                "name": "completion_tokens_details",
                "spec": [
                  {
                    "name": "reasoning_tokens",
                    "type": "uinteger",
                    "label": "Reasoning Tokens"
                  },
                  {
                    "name": "text_tokens",
                    "type": "uinteger",
                    "label": "Text Tokens"
                  },
                  {
                    "name": "audio_tokens",
                    "type": "uinteger",
                    "label": "Audio Tokens"
                  },
                  {
                    "name": "accepted_prediction_tokens",
                    "type": "uinteger",
                    "label": "Accepted Prediction Tokens"
                  },
                  {
                    "name": "rejected_prediction_tokens",
                    "type": "uinteger",
                    "label": "Rejected Prediction Tokens"
                  }
                ],
                "type": "collection",
                "label": "Completion Tokens Details"
              }
            ],
            "type": "collection",
            "label": "Usage"
          },
          {
            "name": "service_tier",
            "type": "text",
            "label": "Service Tier"
          },
          {
            "name": "system_fingerprint",
            "type": "text",
            "label": "System Fingerprint"
          }
        ],
        "advanced": true
      },
      "onerror": [
        {
          "id": 22,
          "module": "builtin:Break",
          "version": 1,
          "parameters": {},
          "mapper": {
            "retry": true,
            "count": "3",
            "interval": "15"
          },
          "metadata": {
            "designer": {
              "x": 1304,
              "y": -333
            },
            "restore": {
              "expect": {
                "retry": {
                  "mode": "chose"
                }
              }
            },
            "expect": [
              {
                "name": "retry",
                "type": "boolean",
                "label": "Automatically complete execution",
                "required": true
              },
              {
                "name": "count",
                "type": "uinteger",
                "label": "Number of attempts",
                "validate": {
                  "min": 1,
                  "max": 10000
                },
                "required": true
              },
              {
                "name": "interval",
                "type": "uinteger",
                "label": "Interval between attempts",
                "validate": {
                  "min": 1,
                  "max": 44640
                },
                "required": true
              }
            ]
          }
        }
      ]
    },
    {
      "id": 11,
      "module": "airtable:ActionCreateRecord",
      "version": 3,
      "parameters": {
        "__IMTCONN__": null
      },
      "filter": {
        "name": "Stability Layer",
        "conditions": [
          [
            {
              "a": "{{14.result}}",
              "o": "exist"
            }
          ]
        ]
      },
      "mapper": {
        "base": "YOUR_BASE_ID",
        "table": "YOUR_TABLE_ID",
        "record": {
          "YOUR_FIELD_ID_PHONE": "{{3.phone}}",
          "YOUR_FIELD_ID_EMAIL": "{{9.final_email}}",
          "YOUR_FIELD_ID_COMPANY_NAME": "{{3.name}}",
          "YOUR_FIELD_ID_URL": "{{3.website}}",
          "YOUR_FIELD_ID_STATUSE": "Ready",
          "YOUR_FIELD_ID_DOMAIN": "{{3.domain}}",
          "YOUR_FIELD_ID_DB_ID": "{{3.db_id}}",
          "YOUR_FIELD_ID_AI_RESPONCE": "{{14.result}}"
        },
        "typecast": false,
        "useColumnId": false
      },
      "metadata": {
        "designer": {
          "x": 1598,
          "y": -82
        },
        "restore": {
          "expect": {
            "base": {
              "label": "Lead_Base"
            },
            "table": {
              "label": "All_Lead",
              "nested": [
                {
                  "name": "record",
                  "spec": [
                    {
                      "name": "YOUR_FIELD_ID_DOMAIN",
                      "type": "text",
                      "label": "Domain"
                    },
                    {
                      "name": "YOUR_FIELD_ID_Source_ID",
                      "type": "number",
                      "label": "Source_ID"
                    },
                    {
                      "name": "YOUR_FIELD_ID_COMPANY_NAME",
                      "type": "text",
                      "label": "Company Name"
                    },
                    {
                      "name": "YOUR_FIELD_ID_URL",
                      "type": "text",
                      "label": "website"
                    },
                    {
                      "name": "YOUR_FIELD_ID_PHONE",
                      "type": "text",
                      "label": "Phone"
                    },
                    {
                      "name": "YOUR_FIELD_ID_EMAIL",
                      "type": "text",
                      "label": "Email"
                    },
                    {
                      "name": "YOUR_FIELD_ID_AI_RESPONCE",
                      "type": "text",
                      "label": "Personalized_Line",
                      "multiline": true
                    },
                    {
                      "mode": "edit",
                      "name": "YOUR_FIELD_ID_STATUSE",
                      "type": "select",
                      "label": "Status",
                      "dynamic": true,
                      "options": [
                        {
                          "label": "Done",
                          "value": "Done"
                        },
                        {
                          "label": "Ready",
                          "value": "Ready"
                        }
                      ],
                      "validate": false
                    }
                  ],
                  "type": "collection",
                  "label": "Record"
                }
              ]
            },
            "record": {
              "nested": {
                "YOUR_FIELD_ID_STATUS": {
                  "mode": "edit"
                }
              }
            },
            "typecast": {
              "mode": "chose"
            },
            "useColumnId": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "airtable3"
              },
              "label": "Airtable_Production_Connection"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:airtable3,airtable2",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "base",
            "type": "select",
            "label": "Base",
            "required": true
          },
          {
            "name": "typecast",
            "type": "boolean",
            "label": "Smart links",
            "required": true
          },
          {
            "name": "useColumnId",
            "type": "boolean",
            "label": "Use Column ID",
            "required": true
          },
          {
            "name": "table",
            "type": "select",
            "label": "Table",
            "required": true
          },
          {
            "name": "record",
            "spec": [
              {
                "name": "YOUR_FIELD_ID_DOMAIN",
                "type": "text",
                "label": "Domain"
              },
              {
                "name": "YOUR_FIELD_ID_Source_ID",
                "type": "number",
                "label": "Source_ID"
              },
              {
                "name": "YOUR_FIELD_ID_COMPANY_NAME",
                "type": "text",
                "label": "Company Name"
              },
              {
                "name": "YOUR_FIELD_ID_URL",
                "type": "text",
                "label": "website"
              },
              {
                "name": "YOUR_FIELD_ID_PHONE",
                "type": "text",
                "label": "Phone"
              },
              {
                "name": "YOUR_FIELD_ID_EMAIL",
                "type": "text",
                "label": "Email"
              },
              {
                "name": "YOUR_FIELD_ID_AI_RESPONCE",
                "type": "text",
                "label": "Personalized_Line"
              },
              {
                "mode": "edit",
                "name": "YOUR_FIELD_ID_STATUSE",
                "type": "select",
                "label": "Status"
              }
            ],
            "type": "collection",
            "label": "Record"
          }
        ],
        "interface": [
          {
            "name": "id",
            "type": "text",
            "label": "ID"
          },
          {
            "name": "createdTime",
            "type": "date",
            "label": "Created Time"
          },
          {
            "name": "Domain",
            "type": "text",
            "label": "Domain"
          },
          {
            "name": "Source_ID",
            "type": "number",
            "label": "Source_ID"
          },
          {
            "name": "Company Name",
            "type": "text",
            "label": "Company Name"
          },
          {
            "name": "website",
            "type": "text",
            "label": "website"
          },
          {
            "name": "Phone",
            "type": "text",
            "label": "Phone"
          },
          {
            "name": "Email",
            "type": "text",
            "label": "Email"
          },
          {
            "name": "Personalized_Line",
            "type": "text",
            "label": "Personalized_Line",
            "multiline": true
          },
          {
            "name": "Status",
            "type": "text",
            "label": "Status"
          }
        ]
      },
      "onerror": [
        {
          "id": 13,
          "module": "builtin:Break",
          "version": 1,
          "parameters": {},
          "mapper": {
            "count": "3",
            "retry": true,
            "interval": "15"
          },
          "metadata": {
            "designer": {
              "x": 1588,
              "y": -326
            },
            "restore": {
              "expect": {
                "retry": {
                  "mode": "chose"
                }
              }
            },
            "expect": [
              {
                "name": "retry",
                "type": "boolean",
                "label": "Automatically complete execution",
                "required": true
              },
              {
                "name": "count",
                "type": "uinteger",
                "label": "Number of attempts",
                "required": true,
                "validate": {
                  "max": 10000,
                  "min": 1
                }
              },
              {
                "name": "interval",
                "type": "uinteger",
                "label": "Interval between attempts",
                "required": true,
                "validate": {
                  "max": 44640,
                  "min": 1
                }
              }
            ]
          }
        }
      ]
    },
    {
      "id": 19,
      "module": "instantly:CreateLead",
      "version": 2,
      "parameters": {
        "__IMTCONN__": null
      },
      "filter": null,
      "mapper": {
        "campaign": "YOUR_INSTANTLY_CAMPAIGN_ID",
        "email": "{{9.final_email}}",
        "website": "{{3.website}}",
        "first_name": "{{3.name}} Team",
        "company_name": "{{3.name}}",
        "phone": "{{3.phone}}",
        "skip_if_in_workspace": true,
        "skip_if_in_campaign": true,
        "skip_if_in_list": true,
        "verify_leads_on_import": true,
        "custom_variables": "{\"first_line\": \"{{replace(replace(trim(14.result); \"\"\"\"; \"'\"); newline; )}}\"}"
      },
      "metadata": {
        "designer": {
          "x": 1844,
          "y": -86
        },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "collapsed": true,
              "label": "instantly_test",
              "data": {
                "scoped": "true",
                "connection": "instantly3"
              }
            }
          },
          "expect": {
            "campaign": {
              "mode": "chose",
              "collapsed": true,
              "label": "Lead_Gen"
            },
            "email": {
              "collapsed": true
            },
            "personalization": {
              "collapsed": true
            },
            "website": {
              "collapsed": true
            },
            "last_name": {
              "collapsed": true
            },
            "phone": {
              "collapsed": true
            },
            "lt_interest_status": {
              "mode": "chose",
              "collapsed": true,
              "label": "Empty"
            },
            "pl_value_lead": {
              "collapsed": true
            },
            "list_id": {
              "mode": "chose",
              "collapsed": true
            },
            "assigned_to": {
              "collapsed": true
            },
            "skip_if_in_workspace": {
              "mode": "chose",
              "collapsed": true
            },
            "skip_if_in_campaign": {
              "mode": "chose",
              "collapsed": true
            },
            "skip_if_in_list": {
              "mode": "chose",
              "collapsed": true
            },
            "blocklist_id": {
              "collapsed": true
            },
            "verify_leads_for_lead_finder": {
              "mode": "chose",
              "collapsed": true
            },
            "verify_leads_on_import": {
              "mode": "chose",
              "collapsed": true
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:instantly3",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "campaign",
            "type": "select",
            "label": "Campaign ID",
            "required": true
          },
          {
            "name": "email",
            "type": "text",
            "label": "Email",
            "required": true
          },
          {
            "name": "personalization",
            "type": "text",
            "label": "Personalization"
          },
          {
            "name": "website",
            "type": "text",
            "label": "Website"
          },
          {
            "name": "last_name",
            "type": "text",
            "label": "Last Name"
          },
          {
            "name": "first_name",
            "type": "text",
            "label": "First Name"
          },
          {
            "name": "company_name",
            "type": "text",
            "label": "Company Name"
          },
          {
            "name": "phone",
            "type": "text",
            "label": "Phone"
          },
          {
            "name": "lt_interest_status",
            "type": "select",
            "label": "Lead Interest Status",
            "validate": {
              "enum": [0, 1, 2, 3, 4, -1, -2, -3]
            }
          },
          {
            "name": "pl_value_lead",
            "type": "text",
            "label": "Potential Value of the Lead"
          },
          {
            "name": "list_id",
            "type": "select",
            "label": "List ID"
          },
          {
            "name": "assigned_to",
            "type": "uuid",
            "label": "Assigned To"
          },
          {
            "name": "skip_if_in_workspace",
            "type": "boolean",
            "label": "Skip If In Workspace"
          },
          {
            "name": "skip_if_in_campaign",
            "type": "boolean",
            "label": "Skip If In Campaign"
          },
          {
            "name": "skip_if_in_list",
            "type": "boolean",
            "label": "Skip If In List"
          },
          {
            "name": "blocklist_id",
            "type": "uuid",
            "label": "Blocklist ID"
          },
          {
            "name": "verify_leads_for_lead_finder",
            "type": "boolean",
            "label": "Verify Leads For Lead Finder"
          },
          {
            "name": "verify_leads_on_import",
            "type": "boolean",
            "label": "Verify Leads On Import"
          },
          {
            "name": "custom_variables",
            "type": "any",
            "label": "Custom Variables"
          }
        ]
      },
      "onerror": [
        {
          "id": 23,
          "module": "builtin:Break",
          "version": 1,
          "parameters": {},
          "mapper": {
            "retry": true,
            "count": "3",
            "interval": "15"
          },
          "metadata": {
            "designer": {
              "x": 1836,
              "y": -343
            },
            "restore": {
              "expect": {
                "retry": {
                  "mode": "chose"
                }
              }
            },
            "expect": [
              {
                "name": "retry",
                "type": "boolean",
                "label": "Automatically complete execution",
                "required": true
              },
              {
                "name": "count",
                "type": "uinteger",
                "label": "Number of attempts",
                "validate": {
                  "min": 1,
                  "max": 10000
                },
                "required": true
              },
              {
                "name": "interval",
                "type": "uinteger",
                "label": "Interval between attempts",
                "validate": {
                  "min": 1,
                  "max": 44640
                },
                "required": true
              }
            ]
          }
        }
      ]
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": true,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com",
    "notes": []
  }
}
